/*VAR*/

$darkBackground:#04213a;
$midbackground:#617486;



.bgNavBar{
    background-color: $darkBackground;
    }

.bgFooter{
    background-color: $darkBackground;
}

.blockQ{
    background-color:white;
}